<div class="card col-10 col-md-4 col-lg-2">
    <a href="{{ path('trick_show', {title: trick.title}) }}">
    {% if trick.mainImage != null %}
        <img style="height: 200px; width: 100%; display: block;" src="{{ asset(trick.mainImage)}}" alt="Card image">
    {% elseif trick.images|length > 0 %}
        <img style="height: 200px; width: 100%; display: block;" src="{{ asset(trick.images[0].name )}}" alt="Card image">
    {% else %}
        <img style="height: 200px; width: 100%; display: block;" src="{{ asset('images/default-image.jpg')}}" alt="Card image">
    {% endif %}
    </a>
    <div class="card-body row">
        <a class="w-75" href="{{ path('trick_show', {title: trick.title}) }}">
            <h3>{{ trick.title|replace({ '-': ' ', })|capitalize }}</h3>
        </a>
        <div class="w-25">
        {% if app.user %}
                <a href="{{ path('trick_update', {id: trick.id}) }}" class="card-link">
                    <img height="16px" src="{{ asset('images/icones/edit.png') }}" alt="Modifier le trick">
                </a>

                <!-- Button trigger modal -->
                <img class="card-link btn-delete" data-toggle="modal" data-target="#exampleModal{{ trick.id }}"
                height="16px" src="{{ asset('images/icones/delete.png') }}"
                alt="Supprimer le trick">

                <!-- Modal -->
                <div class="modal fade" id="exampleModal{{ trick.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Suppression</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Êtes vous sûr de vouloir supprimer ce Trick ?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                <a id="btn-delete-confirm" class="btn btn-danger" 
                                href={{ path('trick_delete', {id: trick.id}) }}>Supprimer</a>
                            </div>
                        </div>
                    </div>
                </div>

        {% endif %}
        </div>
    </div>
</div>