{% for trick in tricks %}
    <div class="card col-2">
        <a href="{{ path('trick_show', {title: trick.title}) }}">
        {% if trick.mainImage != null %}
            <img style="height: 200px; width: 100%; display: block;" src="{{ asset(trick.mainImage)}}" alt="Card image">
        {% elseif trick.images|length > 0 %}
            <img style="height: 200px; width: 100%; display: block;" src="{{ asset(trick.images[0].name )}}" alt="Card image">
        {% else %}
            <img style="height: 200px; width: 100%; display: block;" src="{{ asset('images/default-image.jpg')}}" alt="Card image">
        {% endif %}
        </a>
        <div class="card-body row">
            <a class="w-75" href="{{ path('trick_show', {title: trick.title}) }}">
                <h3>{{ trick.title | capitalize }}</h3>
            </a>
            <div class="w-25">
            {% if app.user %}
                    <a href="{{ path('trick_update', {id: trick.id}) }}" class="card-link">
                        <img height="16px" src="{{ asset('images/icones/edit.png') }}" alt="">
                    </a>
                    <a href="{{ path('trick_delete', {id: trick.id}) }}" class="card-link">
                        <img height="18px" src="{{ asset('images/icones/delete.png') }}" alt="">
                    </a>
            {% endif %}
            </div>
        </div>
    </div>
{% endfor %}