{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}

{% block body %}

<div id="hero">
    <div id="hero-text">
        <h1 id="hero-title">SnowTricks</h1>
        <h2><em>La communauté qui partage sa passion</em></h2>
    </div>
    <a href="#list-tricks"><img id="btn-down" src="{{ asset('images/icones/down.png') }}" alt=""></a>
</div>

<section id="list-tricks" class="pt-5 pb-5">
    <div class="container-fluid">
        
        {% if app.user %}
            <div class="d-flex justify-content-center">
                <a class="mb-5" href="{{ path('trick_create') }}">
                    <button class="btn btn-secondary btn-lg ">Ajouter un Trick</button>
                </a>
            </div>        
        {% endif %}
    
        <div class="row justify-content-center">

        {% for trick in tricks %}
            <div class="card col-2">
                <a href="{{ path('trick_show', {title: trick.title}) }}">
                    <img style="height: 200px; width: 100%; display: block;" src="{{ trick.defaultImage }}" alt="Card image">
                </a>
                <div class="card-body row">
                    <a class="w-75" href="{{ path('trick_show', {title: trick.title}) }}">
                        <h3>{{ trick.title | capitalize }}</h3>
                    </a>
                    <div class="w-25">
                    {% if app.user %}
                        <a href="{{ path('trick_update', {id: trick.id}) }}" class="card-link"><img height="16px" src="{{ asset('images/icones/edit.png') }}" alt=""></a>
                        <a href="{{ path('trick_delete', {id: trick.id}) }}" class="card-link"><img height="18px" src="{{ asset('images/icones/delete.png') }}" alt=""></a>
                    {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>

        <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-secondary btn-lg">Voir plus</button>
        </div>
    </div>

    <a href="#list-tricks"><img id="btn-up" src="{{ asset('images/icones/up.png') }}" alt=""></a>
</section>

{% endblock %}
