{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}

{% block body %}

{% set i = 1 %}

<div id="hero">
    <div id="hero-text">
        <h1 id="hero-title">SnowTricks</h1>
        <h2><em>La communauté qui partage sa passion</em></h2>
    </div>
    <a href="#list-tricks"><img id="btn-down" src="{{ asset('images/icones/down.png') }}" alt=""></a>
</div>

<section id="list-tricks" class="pt-5 pb-5">
    <div class="container-fluid">
        
        {% if app.user %}
            <div class="d-flex justify-content-center">
                <a class="mb-5" href="{{ path('trick_create') }}">
                    <button class="btn btn-secondary btn-lg ">Ajouter un Trick</button>
                </a>
            </div>        
        {% endif %}
    
        <div class="row justify-content-center">

        {% for trick in tricks %}
            {% include "template/card-trick.html.twig" %}
        {% endfor %}
        </div>

        {% if totalTricks > 10 %}
            <div class="d-flex justify-content-center">
                <button type="button" id="load-more" class="btn btn-secondary btn-lg">Voir plus</button>
                <input type="hidden" id="offset" value="0">
                <input type="hidden" id="total" value="{{ totalTricks }}">
            </div>
        {% endif %}
    </div>

    <a href="#list-tricks"><img id="btn-up" src="{{ asset('images/icones/up.png') }}" alt=""></a>
</section>

{% endblock %}

{% block script %}
    <script src="{{ asset('js/home.js') }}"></script>
{% endblock %}