{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}

{% block body %}

{% set i = 1 %}

<div id="hero">
    <div id="hero-text">
        <h1 id="hero-title">SnowTricks</h1>
        <h2><em>La communauté qui partage sa passion</em></h2>
    </div>
    <a href="#list-tricks"><img id="btn-down" src="{{ asset('images/icones/down.png') }}" alt=""></a>
</div>

<section id="list-tricks" class="pt-5 pb-5">
    <div class="container-fluid">
        
        {% if app.user %}
            <div class="d-flex justify-content-center">
                <a class="mb-5" href="{{ path('trick_create') }}">
                    <button class="btn btn-secondary btn-lg ">Ajouter un Trick</button>
                </a>
            </div>        
        {% endif %}
    
        <div class="row justify-content-center">

        {% for trick in tricks %}
            <div class="card col-10 col-md-4 col-lg-2 ">
                <a href="{{ path('trick_show', {title: trick.title}) }}">
                {% if trick.mainImage != null %}
                    <img style="height: 200px; width: 100%; display: block;" src="{{ asset(trick.mainImage)}}" alt="Card image">
                {% elseif trick.images|length > 0 %}
                    <img style="height: 200px; width: 100%; display: block;" src="{{ asset(trick.images[0].name )}}" alt="Card image">
                {% else %}
                    <img style="height: 200px; width: 100%; display: block;" src="{{ asset('images/default-image.jpg')}}" alt="Card image">
                {% endif %}
                </a>
                <div class="card-body row">
                    <a class="w-75" href="{{ path('trick_show', {title: trick.title}) }}">
                        <h3>{{ trick.title | capitalize }}</h3>
                    </a>
                    <div class="w-25">
                    {% if app.user %}
                            <a href="{{ path('trick_update', {id: trick.id}) }}" class="card-link">
                                <img height="16px" src="{{ asset('images/icones/edit.png') }}" 
                                alt="Modifier le trick">
                            </a>
                            <!-- Button trigger modal -->
                            <img height="18px" src="{{ asset('images/icones/delete.png') }}"
                            data-toggle="modal" data-target="#deleteModal-{{ i }}"
                            class="card-link delete-this-trick" alt="Supprimer le trick">

                            <!-- Modal -->
                            <div class="modal fade" id="deleteModal-{{ i }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="deleteModalLabel-{{ i }}">Suppression</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Êtes vous sûr de vouloir supprimer ce trick ?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler
                                    </button>
                                    <a href="{{ path('trick_delete', {id: trick.id}) }}">
                                        <button type="button" class="btn btn-danger">Supprimer</button>
                                    </a>
                                </div>
                                </div>
                            </div>
                            </div>
                            {% set i =  i + 1 %}
                    {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>

        <div class="d-flex justify-content-center">
            <button type="button" id="load-more" class="btn btn-secondary btn-lg">Voir plus</button>
            <input type="hidden" id="offset" value="0">
            <input type="hidden" id="total" value="{{ totalTricks }}">
        </div>
    </div>

    <a href="#list-tricks"><img id="btn-up" src="{{ asset('images/icones/up.png') }}" alt=""></a>
</section>

{% endblock %}

{% block script %}
    <script src="{{ asset('js/home.js') }}"></script>
{% endblock %}