{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | {{ trick.title | capitalize}}{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/trick.css') }}">
{% endblock %}

{% block body %}
<h1>{{ trick.title | capitalize}}</h1>
<p>{{ trick.content }}</p>
{% endblock %}
