{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Creation d'un trick{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/newTrick.css') }}">
{% endblock %}

{% form_theme trickEditForm 'bootstrap_4_layout.html.twig' %}

{% block body %}

<div class="container">

    {{ form_start(trickEditForm) }}
    <div class="row">
        <div class="bloc-title m-0 p-0 col-12">
            <img src="{{ asset('images/default-image.jpg')}}" alt="">
            <h1>{{ form_widget(trickEditForm.title, {
                'attr': {'placeholder': 'Nom du Trick'},
            }) }}
            </h1>
            <small>image par défaut, si aucune image ajoutée.</small>
        </div>
        <p>{{ form_errors(trickEditForm.title) }}</p>
    </div>

    <div class="row bloc-img-vids mt-2">
        <div class="col-12">
            {% for video in trick.videos %}
                <div class="video mr-2">
                    <iframe src="{{ video.name }}" allowfullscreen></iframe> 
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="row input-img-vids mt-2">
        <div class="col-12">
            <div class="row">
                <div class="col-6">
                
                </div>
                <div class="col-6">
                    {{ form_widget(trickEditForm.video) }}
                    {{ form_errors(trickEditForm.video) }}
                </div>
            </div>
        </div>
    </div>

    <div class="row bloc-infos mt-5">
        <div class="col-8 offset-2 d-flex">
            <p class="mr-5">Date de création : {{ trick.createdAt | date("d/m/Y") }}</p>
            {% if trick.createdAt != trick.updatedAt %}
                <p>Date de modification : {{ trick.updatedAt | date("d/m/Y") }}</p>
            {% endif %}
        </div>
    </div>

    <div class="row bloc-content mt-5">
        <div class="col-8 offset-2">
            {{ form_widget(trickEditForm.content, {
                'attr': {'placeholder': 'Description du Trick'},
            }) }}
            {{ form_errors(trickEditForm.content) }}
        </div>
    </div>

    <div class="row bloc-category mt-5">
        <div class="col-2 offset-2">
            {{ form_widget(trickEditForm.category) }}
            {{ form_errors(trickEditForm.category) }}
        </div>
    </div>

    <div class="row bloc-button mt-5 mb-5">
        <div class="col-8 offset-2 d-flex justify-content-end">
            <a href="{{ path('trick_delete', {id: trick.id}) }}" class="btn btn-danger mr-2">Supprimer</a>
            <button type="submit" class="btn btn-secondary">Enregistrer</button>
        </div>
    </div>

    {{ form_end(trickEditForm) }}

</div>

{% endblock %}
