{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | {{ trick.title | capitalize}}{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/trick.css') }}">
{% endblock %}

{% form_theme commentForm 'bootstrap_4_layout.html.twig' %}

{% block body %}

<div class="container">

    <div class="row">
        <div class="bloc-title m-0 p-0 col-12">
            <img id="main-image" src="{{ asset('images/default-image.jpg')}}" alt="">
            {% if app.user %}
                {% if app.user == trick.user or 'ROLE_ADMIN' in app.user.roles %}
                    <button id="update-btn">
                        <a href="{{ path('trick_update', {id: trick.id}) }}" class="mr-3"><img height="16px" src="{{ asset('images/icones/edit.png') }}" alt=""></a>
                        <a href="{{ path('trick_delete', {id: trick.id}) }}"><img height="18px" src="{{ asset('images/icones/delete.png') }}" alt=""></a>
                    </button>
                {% endif %}
            {% endif %}
            <h1>{{ trick.title | capitalize}}</h1>
        </div>
    </div>

    <div class="row bloc-img-vids mt-2">
        <div class="col-12 d-flex flex-wrap justify-content-center">
            {% for image in trick.images %}
                <div class="mr-2">
                    <a href="{{ image.name }}" target="_blank">
                        <img src="{{ image.name }}" alt="" style="height:150px; width:230px;">
                    </a>
                </div>
            {% endfor %}
            {% for video in trick.videos %}
                <div class="video mr-2">
                    <iframe src="{{ video.name }}" allow="fullscreen" style="border:none; height:150px; width:230px;"></iframe> 
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="row bloc-content mt-5">
        <div class="col-10 offset-1">
            <p>{{ trick.content }} Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe enim odio eum! Recusandae blanditiis est eveniet molestias accusamus quidem, enim atque officiis porro dolorum repudiandae. Dignissimos sint soluta quae earum!
            </p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo eveniet non iste, quis, soluta consectetur eaque deserunt voluptas earum assumenda numquam laudantium qui maiores quaerat! Mollitia quae ut accusantium facere?Sapiente, maiores enim libero saepe nihil non nam doloribus. Odit, similique aut. Architecto explicabo in rerum, recusandae aperiam ex aut necessitatibus non mollitia laborum quae voluptate corporis molestiae odio dolores.</p>
        </div>
    </div>

    <div class="row bloc-infos mt-5">
        <div class="col-8 offset-2 d-flex justify-content-around">
            <p>Date de création : {{ trick.createdAt | date("d/m/Y") }}</p>
            {% if trick.createdAt != trick.updatedAt %}
                <p>Date de modification : {{ trick.updatedAt | date("d/m/Y") }}</p>
            {% endif %}
            <p>Catégories : <span class="badge badge-pill badge-secondary">{{ trick.category.name }}</span>
            </p>
        </div>
    </div>
    <hr>
    
    {% if app.user %}
        {{ form_start(commentForm) }}
        <div class="row d-flex justify-content-center align-items-center bloc-form mt-5 mb-5">
            <div class="col-5">
                {{ form_widget(commentForm.comment) }}
            </div>
            <div>
                <button type="submit" class="btn btn-secondary">Laisser un commentaire</button>
            </div>
        </div>
        {{ form_end(commentForm) }}
        <hr>
    {% endif %}

    <div class="row bloc-comments mt-5 mb-5">
        <div class="col-8 offset-2">
            {% for comment in trick.comments | reverse(true) %}
            <div class="d-flex align-items-center">
                <div class="row d-flex justify-content-center text-center mr-4 w-25">
                    <img class="avatar-img" height="40px" src="{{ asset(comment.user.avatar) }}" alt="">
                    <p class="col-12">{{ comment.user.username }}</p>
                </div>
                <p class="comment p-2 w-75">{{ comment.comment|nl2br }}</p>
            </div>
            {% endfor %}
        </div>
    </div>

</div>

{% endblock %}
