{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Creation d'un trick{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/updateTrick.css') }}">
{% endblock %}

{% form_theme trickEditForm 'bootstrap_4_layout.html.twig' %}

{% block body %}

<div class="container">

    {{ form_start(trickEditForm) }}
    <div class="row">
        <div class="bloc-title m-0 p-0 col-12">
            <img id="main-image" src="{{ asset('images/default-image.jpg')}}" alt="">

            {% if app.user == trick.user or 'ROLE_ADMIN' in app.user.roles %}
                <button id="update-btn">
                    <a href="{{ path('trick_update', {id: trick.id}) }}" class="mr-3"><img height="16px" src="{{ asset('images/icones/edit.png') }}" alt=""></a>
                    <a href="{{ path('trick_delete', {id: trick.id}) }}"><img height="18px" src="{{ asset('images/icones/delete.png') }}" alt=""></a>
                </button>
            {% endif %}

            <h1>{{ form_widget(trickEditForm.title, {
                'attr': {'placeholder': 'Nom du Trick'},
            }) }}
            </h1>
        </div>
        <p>{{ form_errors(trickEditForm.title) }}</p>
    </div>

    <div class="row bloc-img-vids mt-2">
        <div class="col-12 d-flex flex-wrap justify-content-center">
            {# {% for image in trick.images %}
                <div class="mr-2">
                    <a href="{{ image.name }}" target="_blank">
                        <img src="{{ image.name }}" alt="" style="height: 154px; width: 231px;">
                    </a>
                </div>
            {% endfor %} #}
            {% for image in trick.images %}
                <div class="card mr-2 mb-2">
                    <a href="{{ image.name }}" target="_blank">
                        <img src="{{ image.name }}" alt="" style="height: 150px; width: 230px;">
                    </a>
                    <div class="card-body d-flex justify-content-end pr-0">
                    {% if app.user %}
                        <button>
                            <a href="#" class="card-link">
                                <img height="16px" src="{{ asset('images/icones/edit.png') }}" alt="bouton de modification">
                            </a>
                            <a href="#" class="card-link">
                                <img height="18px" src="{{ asset('images/icones/delete.png') }}" alt="bouton de suppression">
                            </a>
                        </button>
                    {% endif %}
                    </div>
                </div>
            {% endfor %}
            {# {% for video in trick.videos %}
                <div class="video mr-2">
                    <iframe src="{{ video.name }}" allow="fullscreen" style="border:none; height:150px; width:230px;"></iframe> 
                </div>
            {% endfor %} #}
            {% for video in trick.videos %}
                <div class="card mr-2 mb-2">
                    <iframe src="{{ video.name }}" allow="fullscreen" style="height:150px; width:230px;"></iframe>
                    <div class="card-body d-flex justify-content-end pr-0">
                        {% if app.user %}
                            <button>
                                <a href="#" class="card-link">
                                    <img height="16px" src="{{ asset('images/icones/edit.png') }}" alt="bouton de modification">
                                </a>
                                <a href="#" class="card-link">
                                    <img height="18px" src="{{ asset('images/icones/delete.png') }}" alt="bouton de suppression">
                                </a>
                            </button>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="row input-img-vids mt-2">
        <div class="col-12">
            <div class="row">
                <div class="col-6">
                    {{ form_widget(trickEditForm.image) }}
                    {{ form_errors(trickEditForm.image) }}
                </div>
                <div class="col-6">
                    {{ form_widget(trickEditForm.video) }}
                    {{ form_errors(trickEditForm.video) }}
                </div>
            </div>
        </div>
    </div>

    <div class="row bloc-infos mt-5">
        <div class="col-8 offset-2 d-flex">
            <p class="mr-5">Date de création : {{ trick.createdAt | date("d/m/Y") }}</p>
            {% if trick.createdAt != trick.updatedAt %}
                <p>Date de modification : {{ trick.updatedAt | date("d/m/Y") }}</p>
            {% endif %}
        </div>
    </div>

    <div class="row bloc-content mt-5">
        <div class="col-8 offset-2">
            {{ form_widget(trickEditForm.content, {
                'attr': {'placeholder': 'Description du Trick'},
            }) }}
            {{ form_errors(trickEditForm.content) }}
        </div>
    </div>

    <div class="row bloc-category mt-5">
        <div class="col-2 offset-2">
            {{ form_widget(trickEditForm.category) }}
            {{ form_errors(trickEditForm.category) }}
        </div>
    </div>

        <div class="row bloc-button mt-5 mb-5">
            <div class="col-8 offset-2 d-flex justify-content-end">
                {% if app.user %}
                    <a href="{{ path('trick_delete', {id: trick.id}) }}" class="btn btn-danger mr-2">Supprimer</a>
                    <button type="submit" class="btn btn-secondary">Enregistrer</button>
                {% endif %}
            </div>
        </div>

    {{ form_end(trickEditForm) }}

</div>

{% endblock %}
